<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:installLocation="preferExternal"
      package="com.ssj.fugou"
      android:versionCode="2"
      android:versionName="1.1.0">
      
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    	android:debuggable="false"
    	>
        <activity android:name=".frmActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    
    <uses-sdk android:minSdkVersion="4" /> <!-- 6 -->

<!-- disabled by hrh 2011-0726-1548
 	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
 -->
 
</manifest> 